* {
    padding: 0rem;
    margin: 0rem;
}

body {
    background-image: url("https://www.publicdomainpictures.net/pictures/300000/velka/pixelated-background-1554863525mz3.jpg");
}

    #btn {
        color: white;
        position: relative;
        width: 100px;
        height: 100px;
        left: 175px;
        top: -450px;
        border: 5 solid black;
        border-radius: 5rem;
    }


#game {
    width: 450px;
    height: 650px;
    border: 5px solid black;
    position: relative;
    left: 500px;
    top: 50px;
    background-image: url(bg.png)
}
#character {
    position: relative;
    width: 70px;
    height: 70px;
    top: -200px;
    left: 77px;
    background-image: url("wall.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.score {
    width: 460px;
    background-color: black;
    height: 2rem;
    font: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 500px;
    top: 1rem;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
}

#branchright {
    position: absolute;
    left: 78px;
    top: -10px;
}

#branchleft {
    position: absolute;
    left: 257px;
    top: -10px;
}

.treeright {
    position: absolute;
    left: 370px;
}

/* .treeleft {
    position: absolute;
    left: 0px;
} */

@keyframes jumpleft {
    0% {
        image: url(wall.png);
        left: 77px;
    }
    10% {
        background-image: url(launch.png);
    }
    70% {
        background-image: url(pre.png);
    }
    100% {
        background-image: url(wall\ 2.png);
        left: 330px;
    }
}

.animate {
    animation: jumpleft 500ms;
}

.animate2 {
    animation: jumpright 500ms;
}

@keyframes jumpright {
    0% {
        image: url(wall\ 2.png);
        left: 330px;
    }
    10% {
        background-image: url(launch\ 2.png);
    }
    70% {
        background-image: url(pre\ 2.png);
    }
    100% {
        background-image: url(wall.png);
        left: 77px;
    }
}
.branchanimate {
    animation: branch 1000ms linear;
}

@keyframes branch {
    0% {
        top: 0px;
    }
    100% {
        top: 615px;
    }
}

.hidden {
    display: none;
}



.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}